input[type=search] {
	margin: 4px 0 5px
}
input[type='search'] {
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 34px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #FFFFFF;
}
.mui-content {
	background-color: #efeff4 !important;
}

.mui-input-row.mui-search .mui-icon-clear {
	top: 11px
}

.mui-input-row.mui-search {
	margin: 0 10px;
	z-index: 9
}

.mui-search.mui-active:before {
	top: 28px;
	z-index: 1
}

.mui-icon.mui-icon-search {
	position: relative;
	top: 5px;
	left: -5px
}

.mui-placeholder span {
	position: relative;
	top: 4px;
	font-size: 14px
}

.mui-scroll-wrapper {
	top: 125px
}

.retrie dt {}

.retrie dt a {
	width: 100%
}

.mui-table-view-cell img {
	border-radius: 3px
}

.mui-table-view-cell img {
	width: 75px !important;
	height: 75px !important
}

.area ul li {
	border-bottom: 1px solid #DEDEDE;
	background-color: #FFFFFF
}

.downlist {
	max-height: 310px
}