.case-detail.mui-row>.mui-col-xs-3 {
	width: 20%
}

.kf-title {
	text-align: center;
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
	color: #666666;
	font-size: 15px
}

.person-detail {
	margin: 0;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 8px 0;
	background-clip: padding-box;
	font-size: 15px;
	color: #666666;
	line-height: 20px
}

.person-detail span {
	padding: 5px 0;
	font-size: 15px
}

.case-list {
	border: 1px solid #DDDDDD;
	margin: 15px 10px;
	padding: 15px 10px 0
}

.case-detail {
	border-top: 1px solid #DDDDDD;
	padding: 10px 0 0;
	margin: 10px 0;
	font-size: 12px;
	color: #666666
}

.case-detail p,
.case-detail-sex {
	font-size: 12px;
	color: #666666
}

.mui-row img {
	padding-right: 5px;
	height: 50px;
	max-width: 50px
}

.imgs {
	height: 50px
}

.mui-row label {
	text-align: right
}

.mui-row span {
	padding-left: 10px
}

.mui-row .mui-btn-mini {
	line-height: 0.62;
	font-size: 10px !important;
	border-radius: 14px;
	padding: 8px 12px;
	position: absolute;
	bottom: 0;
	right: -13px;
	border: 1px solid #32A3D6;
	color: #32A3D6
}

.undo {
	padding: 10px;
	font-size: 13px;
	color: #333333;
	border-bottom: 1px solid #DDDDDD
}

.case-title {
	font-size: 14px;
	color: #32a3d6
}

.money {
	color: #32a3d6 !important
}

.mui-table-view-cell:after,
.mui-table-view:after,
.mui-table-view:before {
	height: 0
}

.mui-bar.mui-bar-tab .mui-tab-item.mui-active {
	color: #32A3D6
}

#msg,
.mui-title {
	color: #fff
}

.myicon {
	position: absolute;
	top: 11px;
	width: 20px;
	height: 20px
}

.kefu-icon {
	content: url("../icon/service-icon.png");
	left: 12px
}

.info-icon {
	content: url("../icon/alarm.png");
	right: 13px
}

.mui-row.detail .case-title {
	padding-left: 0 !important
}

.mui-row.detail .case-detail-sex {
	text-align: right
}

#kefu,
#msg {
	width: 55px;
	height: 44px
}

.newContactNum {
	position: absolute;
	left: 22px;
	top: 3px
}

.newInfoNum {
	position: absolute;
	right: 5px;
	top: 3px
}

.mui-numbox {
	width: 160px;
	height: 30px
}

.font-size-14 {
	font-size: 14px
}

.line-manage {
	margin: 10px 0;
	text-align: center
}

#next {
	position: relative;
	bottom: 3px;
	padding: 2px 12px;
	font-size: 12px
}

.mui-btn{color: #33A2D7;border: 1px solid #33A2D7;}
